<div class="p-4">

    <div class="grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-2.5">

        <div class="shadow-xl">
    
            <div class="px-2.5 py-1.5 border-b border-gray-200">
                <h3 class="font-bold text-xl">Cabinet médical</h3>
            </div>
    
            <div class="px-2.5 py-1.5">
                <h3 class="font-bold text-xl">Cabinet de pédiatrie de Vertou (espace santé des grands chataigniers)</h3>
                <p>11 Rue Rouget de Lisle, 92800 Puteaux</p>
            </div>
    
        </div>

        <div class="shadow-xl">
    
            <div class="px-2.5 py-1.5 border-b border-gray-200">
                <h3 class="font-bold text-xl">Cabinet médical</h3>
            </div>
    
            <div class="px-2.5 py-1.5">
                <h3 class="font-bold text-xl">Cabinet de pédiatrie de Vertou (espace santé des grands chataigniers)</h3>
                <p>11 Rue Rouget de Lisle, 92800 Puteaux</p>
            </div>
    
        </div>

        <div class="shadow-xl">
    
            <div class="px-2.5 py-1.5 border-b border-gray-200">
                <h3 class="font-bold text-xl">Cabinet médical</h3>
            </div>
    
            <div class="px-2.5 py-1.5">
                <h3 class="font-bold text-xl">Cabinet de pédiatrie de Vertou (espace santé des grands chataigniers)</h3>
                <p>11 Rue Rouget de Lisle, 92800 Puteaux</p>
            </div>
    
        </div>

        <div class="shadow-xl">
    
            <div class="px-2.5 py-1.5 border-b border-gray-200">
                <h3 class="font-bold text-xl">Cabinet médical</h3>
            </div>
    
            <div class="px-2.5 py-1.5">
                <h3 class="font-bold text-xl">Cabinet de pédiatrie de Vertou (espace santé des grands chataigniers)</h3>
                <p>11 Rue Rouget de Lisle, 92800 Puteaux</p>
            </div>
    
        </div>
    
    </div>

</div>
