<!-- Table -->
<div class="overflow-x-auto">
    <div class="inline-block min-w-full pb-2 align-middle">
        <table class="min-w-full">
            <thead>
            <tr class="bg-primary-500">
                <th scope="col" class="!py-3.5 !p-2.5 !pl-4 border-none text-left font-semibold max-w-fit text-white">
                    <ngx-skeleton-loader></ngx-skeleton-loader>
                </th>
                <th scope="col" class="p-2.5 !pl-4 border-none text-left font-semibold text-white">
                    <ngx-skeleton-loader></ngx-skeleton-loader>
                </th>
                <th scope="col" class="p-2.5 !pl-4 border-none text-left font-semibold text-white">
                    <ngx-skeleton-loader></ngx-skeleton-loader>
                </th>
                <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-0">
                    <span class="sr-only">Actions</span>
                </th>
            </tr>
            </thead>
            <tbody class="pt-3 divide-y-2 divide-gray-100">
            <tr *ngFor="let i of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]" class="cursor-pointer border-gray-400">
                <td class="whitespace-nowrap !py-3 pl-2 pr-3 max-w-fit text-tertiary capitalize">
                    <ngx-skeleton-loader></ngx-skeleton-loader>
                </td>
                <td class="whitespace-nowrap pt-1.5 pb-1 px-5 pl-8 text-tertiary capitalize">
                    <ngx-skeleton-loader></ngx-skeleton-loader>
                </td>
                <td class="whitespace-nowrap pt-1.5 pb-1 px-3 pl-10 text-tertiary capitalize">
                    <ngx-skeleton-loader></ngx-skeleton-loader>
                </td>
                <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-0">
                    <ngx-skeleton-loader></ngx-skeleton-loader>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
</div>
