<div class="py-8">

    <!-- Form -->
    <form class="sm:p-5 space-y-8 max-w-3xl">
        <div class="flex sm:items-center max-sm:gap-2.5 max-sm:flex-col">
            <div class="w-56">Nombre limite d'utilisateurs par établissement</div>
            <div class="flex-1">
                <app-big-input labelFor="userLimitPerEstablishment" label="Nombre limite d'utilisateurs par établissement" [type]="'number'" name="userLimitPerEstablishment" [class]="'w-full'"></app-big-input>
            </div>
        </div>
        <div class="flex sm:items-center max-sm:gap-2.5 max-sm:flex-col">
            <div class="w-56">Nombre limite d'utilisateurs par praticien</div>
            <div class="flex-1">
                <app-big-input labelFor="userLimitPerDoctors" label="Nombre limite d'utilisateurs par praticien" [type]="'number'" name="userLimitPerDoctors" [class]="'w-full'"></app-big-input>
            </div>
        </div>

        <div class="flex justify-end">
            <app-button type="submit" [class]="'text-white bg-secondary hover:bg-secondary focus:ring-secondary float-right'">              
                Modifier
            </app-button>
        </div>
    </form>

</div>