<div class="px-5">
  <div class="">

    <div class="py-3 border-b border-gray-600 last-of-type:border-none">
      <h4 class="mb-3 text-lg font-medium">Antécédents familiaux</h4>

      <p class="text-slate-500">
        Lorem ipsum dolor sit amet consectetur. Sed purus in diam neque diam
        adipiscing. Cursus adipiscing mollis sit sit risus enim at et. Maecenas
        quis at turpis nibh diam tellus viverra est. Risus ut tincidunt
        pellentesque tincidunt vitae ac. Mauris scelerisque pellentesque massa
        tortor tellus vulputate facilisis. In commodo tempus aliquet ac posuere
        semper cursus facilisis felis. Eleifend nibh vitae scelerisque gravida.
        Est est proin pellentesque ornare luctus eleifend dignissim. Vitae quam
        vel pulvinar pulvinar sagittis dui potenti volutpat amet. Molestie quam
        ac tortor dictum id fringilla potenti.
      </p>
    </div>

    <div class="py-3 border-b border-gray-600 last-of-type:border-none">
      <h4 class="mb-3 text-lg font-medium">Allergies</h4>

      <p class="text-slate-500">
        Lorem ipsum dolor sit amet consectetur. Sed purus in diam neque diam
        adipiscing. Cursus adipiscing mollis sit sit risus enim at et. Maecenas
        quis at turpis nibh diam tellus viverra est. Risus ut tincidunt
        pellentesque tincidunt vitae ac. Mauris scelerisque pellentesque massa
        tortor tellus vulputate facilisis. In commodo tempus aliquet ac posuere
        semper cursus facilisis felis. Eleifend nibh vitae scelerisque gravida.
        Est est proin pellentesque ornare luctus eleifend dignissim. Vitae quam
        vel pulvinar pulvinar sagittis dui potenti volutpat amet. Molestie quam
        ac tortor dictum id fringilla potenti.
      </p>
    </div>

    <div class="py-3 border-b border-gray-600 last-of-type:border-none">
      <h4 class="mb-3 text-lg font-medium">Antécédents chirurgicaux</h4>

      <p class="text-slate-500">
        Lorem ipsum dolor sit amet consectetur. Sed purus in diam neque diam
        adipiscing. Cursus adipiscing mollis sit sit risus enim at et. Maecenas
        quis at turpis nibh diam tellus viverra est. Risus ut tincidunt
        pellentesque tincidunt vitae ac. Mauris scelerisque pellentesque massa
        tortor tellus vulputate facilisis. In commodo tempus aliquet ac posuere
        semper cursus facilisis felis. Eleifend nibh vitae scelerisque gravida.
        Est est proin pellentesque ornare luctus eleifend dignissim. Vitae quam
        vel pulvinar pulvinar sagittis dui potenti volutpat amet. Molestie quam
        ac tortor dictum id fringilla potenti.
      </p>
    </div>

  </div>
</div>
