<div class="lg:px-10 px-4 py-8">

    <!-- Heading -->
    <app-page-heading title="Patients" description="Liste des patients sur l'application Tabiblib"></app-page-heading>

    <!-- Actions -->
    <div class="flex justify-between mb-5 max-lg:flex-col max-lg:gap-2.5">

        <div class="flex gap-2.5">

            <app-select label="perPage" name="perPage" [options]="perPageRange" [(ngModel)]="perPage"></app-select>

            <app-select label="activity" name="activity" [options]="activitiesRange" [(ngModel)]="activity"></app-select>

        </div>

        <form [formGroup]="searchForm" (submit)="chang()" class="flex lg:gap-2.5 max-lg:justify-between max-sm:flex-col max-sm:gap-2.5 sm:items-center">

            <app-search-bar placeholder="Rechercher par nom, prénom, email..." formControlName="search"></app-search-bar>

            <app-button type="submit" [class]="'text-white bg-secondary hover:bg-secondary focus:ring-secondary'">Rechercher</app-button>

        </form>

    </div>

    <!-- Table -->
    <div class="overflow-x-auto">
        <div class="inline-block min-w-full pb-2 align-middle">
            <table class="min-w-full">
                <thead>
                <tr class="bg-primary-500">
                    <th scope="col" class="!py-3.5 !p-2.5 !pl-4 border-none text-left font-semibold max-w-fit text-white">Noms</th>
                    <th scope="col" class="p-2.5 !pl-4 border-none text-left font-semibold text-white">Prénom</th>
                    <th scope="col" class="p-2.5 !pl-4 border-none text-left font-semibold text-white">Date de naissance</th>
                    <th scope="col" class="p-2.5 !pl-4 border-none text-left font-semibold text-white">Téléphone</th>
                    <th scope="col" class="p-2.5 !pl-4 border-none text-left font-semibold text-white">Email</th>
                    <th scope="col" class="p-2.5 border-none text-left font-semibold text-white">Status</th>
                    <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-0">
                        <span class="sr-only">Actions</span>
                    </th>
                </tr>
                </thead>
                <tbody class="pt-3 divide-y-2 divide-gray-300">
                <tr *ngFor="let patient of patients | paginate : {
                    itemsPerPage: perPage,
                    currentPage: 2,
                    totalItems: patients.length
                }" class="cursor-pointer border-gray-400">
                    <td class="whitespace-nowrap !py-3 pl-2 pr-3 max-w-fit text-tertiary capitalize">{{patient.name}}</td>
                    <td class="whitespace-nowrap pt-1.5 pb-1 px-5 pl-8 text-tertiary capitalize">{{patient.surname}}</td>
                    <td class="whitespace-nowrap pt-1.5 pb-1 px-3 pl-10 text-tertiary capitalize">{{patient.birthDate | date: 'dd/mmmm/yyyy'}}</td>
                    <td class="whitespace-nowrap pt-1.5 pb-1 px-3 text-tertiary capitalize">{{patient.phone}}</td>
                    <td class="whitespace-nowrap pt-1.5 pb-1 px-3 text-tertiary">{{patient.email}}</td>
                    <td class="whitespace-nowrap pt-1.5 pb-1 px-3 text-tertiary capitalize">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5" [ngClass]="patient.status| checkUserStatusColor">
                            <path stroke-linecap="round" stroke-linejoin="round" [attr.d]="patient.status | checkUserStatusSvgdf" />
                        </svg>                                                                                                    
                    </td>
                    <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-0">
                        <a [routerLink]="['/users/patients', patient.id, 'antecedents']" class="mr-3" type="button">
                            <span class="sr-only">Options</span>
                            <span class="">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5 fill-black">
                                    <path d="M12 15a3 3 0 100-6 3 3 0 000 6z" />
                                    <path fill-rule="evenodd" d="M1.323 11.447C2.811 6.976 7.028 3.75 12.001 3.75c4.97 0 9.185 3.223 10.675 7.69.12.362.12.752 0 1.113-1.487 4.471-5.705 7.697-10.677 7.697-4.97 0-9.186-3.223-10.675-7.69a1.762 1.762 0 010-1.113zM17.25 12a5.25 5.25 0 11-10.5 0 5.25 5.25 0 0110.5 0z" clip-rule="evenodd" />
                                </svg>                                                                                                                                                                            
                            </span>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>

            <pagination-template #p="paginationApi" (pageChange)="onPageChange($event)" class="flex items-center justify-center gap-1 mt-6">

                <div class="">
                    <button type="button" *ngIf="p.isFirstPage()" [class.disabled]="p.isFirstPage()" disabled class="cursor-not-allowed text-[#E8E8E8] w-8 h-8 flex justify-center text-sm items-center rounded-md border-neutral-100 border bg-white">
                        <svg class="w-4 h-4 fill-current" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g opacity="0.7">
                                <path d="M9.71211 2.93333L4.91211 7.73333L9.71211 12.5333L11.0881 11.1733L7.64811 7.73333L11.0881 4.29333L9.71211 2.93333Z"/>
                            </g>
                        </svg>                                             
                    </button>

                    <button type="button" *ngIf="!p.isFirstPage()" (click)="p.previous()" class="text-black w-8 h-8 flex justify-center text-sm items-center rounded-md border-neutral-200 border bg-white">
                        <svg class="w-4 h-4 fill-current" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g opacity="0.7">
                                <path d="M9.71211 2.93333L4.91211 7.73333L9.71211 12.5333L11.0881 11.1733L7.64811 7.73333L11.0881 4.29333L9.71211 2.93333Z"/>
                            </g>
                        </svg>                                             
                    </button>
                </div>

                <div *ngFor="let page of p.pages" [class.current]="p.getCurrent() === page.value" class="">
                    <button *ngIf="p.getCurrent() !== page.value" (click)="p.setCurrent(page.value)" class="w-8 h-8 flex justify-center text-black text-sm items-center rounded-md border-neutral-200 border bg-white">
                        {{page.label}}                                         
                    </button>

                    <div *ngIf="p.getCurrent() === page.value" class="w-8 h-8 flex justify-center text-white text-sm items-center rounded-md bg-primary-500" aria-current="page">
                        {{page.label}}
                    </div>
                </div>

                <div class="">
                    <button *ngIf="p.isLastPage()" class="w-8 h-8 flex justify-center text-black cursor-not-allowed text-sm items-center rounded-md border-neutral-200 border bg-white">
                        <svg class="w-4 h-4 fill-current" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6.28811 12.5333L11.0881 7.73333L6.28811 2.93333L4.92811 4.29333L8.35211 7.73333L4.91211 11.1733L6.28811 12.5333Z" fill="#52575C"/>
                        </svg>                                                                   
                    </button>
                    
                    <button *ngIf="!p.isLastPage()" (click)="p.next()" class="w-8 h-8 flex justify-center text-black text-sm items-center rounded-md border-neutral-200 border bg-white">
                        <svg class="w-4 h-4 fill-current" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6.28811 12.5333L11.0881 7.73333L6.28811 2.93333L4.92811 4.29333L8.35211 7.73333L4.91211 11.1733L6.28811 12.5333Z" fill="#52575C"/>
                        </svg>                                                                   
                    </button>
                </div>

            </pagination-template>

        </div>
    </div>

</div>
