@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'SF Pro Display', sans-serif;
}

*::-webkit-scrollbar {
    display: none;
}

* {
    -ms-overflow-style: none;
    scrollbar-width: none;
}